<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    /* 标签选择器 */
    li {
      color:blue!important;
      font-weight:bold;
      border:1px solid black
    }
  
    /* 子代选择器 */
    ul>li{ color:red }
  
    /* 类选择器 */
    .lis{
      color:green;
      font-weight:normal
    }
  
    /* id选择器 */
    #list3 {
      color:orange;
      border:none
    }
  </style>
</head>
<body>
  <ul>
    <li class="lis"> list1 </li>
    <li class="lis list2"> list2 </li>
    <li id="list3"> list3 </li>
    <li style="color:red"> list4 </li>
  </ul>
  <script>
    console.log(parseInt(true)); // 1
    console.log(parseInt('true123')); // NaN
    console.log(parseInt('123true'));
    console.log(parseInt('0xf')); // 15
    console.log(parseInt('070')); // 70
    console.log(parseInt('070',8)); // 56
  </script>
</body>
</html>
